 .u-section-1 {
  background-image: url("images/fgfgfg5t.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1204px;
  margin: 0 -32px 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 819px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0 24px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1159px;
  margin: 29px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 25px) calc(16.6667% - 25px) calc(16.6667% - 25px) calc(16.6667% - 25px) calc(16.6667% - 25px) calc(16.6667% - 25px);
  min-height: 571px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(16.6667% - 25px);
  width: 1159px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-5 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-6 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-7 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-8 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-9 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-10 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-11 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-12 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-13 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-14 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-15 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-16 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-17 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-17 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-19 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-18 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-19 {
  margin: 38px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-1 .u-list-1 {
    width: 410px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(6, calc(16.666666666666668% - 25px));
    grid-auto-columns: calc(16.666666666666668% - 25px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-19 {
    margin-right: 82px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 630px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
    min-height: 2993px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 65px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    min-height: 11182px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-19 {
    margin-top: 43px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 724px;
}

.u-section-2 .u-text-1 {
  width: 290px;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 26px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 346px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-group-1 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 34px 0 10px;
}

.u-section-2 .u-image-1 {
  width: 79px;
  height: 79px;
  background-image: url("images/AmitMahajanProfilePic.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-2 .u-text-4 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-group-2 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 34px 0 10px;
}

.u-section-2 .u-image-2 {
  width: 79px;
  height: 79px;
  background-image: url("images/AndyHellwigProfilePic.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-2 .u-text-7 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-group-3 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 34px 0 10px;
}

.u-section-2 .u-image-3 {
  width: 79px;
  height: 79px;
  background-image: url("images/OmaFamojuroProfilePic.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-2 .u-text-10 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-group-4 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 34px 0 10px;
}

.u-section-2 .u-image-4 {
  width: 79px;
  height: 79px;
  background-image: url("images/SimonDaSilvaProfilePic.png");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-2 .u-text-13 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-2 .u-group-5 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 34px 0 10px;
}

.u-section-2 .u-image-5 {
  width: 79px;
  height: 79px;
  background-image: url("images/SudhansuMangarajProfilePic.png");
  background-position: 50% 50%;
  margin: -82px 0 0 auto;
}

.u-section-2 .u-text-16 {
  line-height: 2.2;
  font-style: italic;
  margin: 52px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 287px;
  }

  .u-section-2 .u-group-1 {
    width: 186px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-1 {
    width: 69px;
    height: 69px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-group-2 {
    width: 186px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-2 .u-image-2 {
    width: 69px;
    height: 69px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-group-3 {
    width: 186px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-2 .u-image-3 {
    width: 69px;
    height: 69px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-group-4 {
    width: 186px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-2 .u-image-4 {
    width: 69px;
    height: 69px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-group-5 {
    width: 186px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-2 .u-image-5 {
    width: 69px;
    height: 69px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 513px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-top: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }
}